/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  min-height: 100vh; /* Make sure the container takes up at least the full viewport height */
  background-color: #f5f5f5;
  }
  
  .home-container h1 {
    font-weight: bold;
    color: #35adb6;
    font-size: 3em; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .home-container h2 {
    font-weight: bold;
    color: #6abb75; 
    font-size: 2em;
    margin-bottom: 30px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .lounge img, .book img {
    width: 100%;
    max-width: 600px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .search-container {
    margin-top: 40px; 
  }

  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
  }

  .search-bar {
    background-color: white; 
    color: black; 
    border: 1px solid #1f1818;
  }
  
  form {
    display: flex;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #097efccb;
    color: rgb(34, 219, 219);
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #6fabeb;
    color: white;
  }

  .lounge, .book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

 .no-clubs-yet {
  text-align: center; 
  color: #6abb75; 
  margin: 20px 0
 } 


 .no-saved-books-yet {
  text-align: center; 
  color: #6abb75; 
  margin: 20px 0
 }